<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginDem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.connectionDemo.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create</display-name>
    <servlet-name>create</servlet-name>
    <servlet-class>com.connectionDemo.create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deposit</display-name>
    <servlet-name>deposit</servlet-name>
    <servlet-class>com.connectionDemo.deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deposit</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>view</display-name>
    <servlet-name>view</servlet-name>
    <servlet-class>com.connectionDemo.view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdraw</display-name>
    <servlet-name>withdraw</servlet-name>
    <servlet-class>com.connectionDemo.withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdraw</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transfer</display-name>
    <servlet-name>transfer</servlet-name>
    <servlet-class>com.connectionDemo.transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transfer</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
</web-app>